/example/output/app/Components
/example/output/app/Providers/GeneratedRouteServiceProvider.php
/example/output/app/SWSG
/example/output/routes/generated.php
/project/project/
/project/target/
/target/
