/examples/*/output/app/Components
/examples/*/output/app/Providers/GeneratedRouteServiceProvider.php
/examples/*/output/app/SWSG
/examples/*/output/routes/generated.php
/js/target/
/jvm/target/
/project/project/
/project/target/
/target/
